@model WebKeep.Models.DbModel

<div class="row">
    <div class="col-md-1">@Model.Id</div>
    <div class="col-md-2">@Model.Category</div>
    <div class="col-md-2">@Model.Description</div>
    <div class="col-md-5"><a href="@Model.Link">@Model.Link</a></div>
    <div class="col-md-2">@Model.Date</div>
</div>